---
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("./*.md");
---

<Layout title="My Blog" description="Blog Posts">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">Blog Posts</h1>
    <div class="post-container">
      {
        posts.map(
          (post: {
            frontmatter: {
              layout: string;
              title: string;
              author: string;
              date: string;
              description: string;
              image: { src: string; title: string };
              draft: boolean;
              category: string;
            };
            url: string;
          }) => <PostCard {post} />
        )
      }
    </div>
  </section>
</Layout>
