---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="My Blog" description="Blog Posts">
  <ul>
    <li><a href="./closure-in-js">Closure in JS</a></li>
    <li><a href="./asynchronous-in-js">Concurency in JS</a></li>
    <li><a href="./center-element-in-css">Center Element in CSS</a></li>
  </ul>
</Layout>
